# Belter local environment values
PODMAN_MACHINE_NAME=<podman_machine_name>
MEMPOOL_HOST=<mempool_host>
MEMPOOL_PORT=<mempool_port>
MEMPOOL_COMPOSE_FILE=<path_to_mempool_compose_file>
MEMPOOL_COMPOSE_OVERRIDE=<path_to_mempool_compose_override_file>
MEMPOOL_PROJECT=<podman_compose_project_name>
BITCOIND_WORKDIR=<path_to_bitcoind_workdir>
BITCOIND_DATADIR=<path_to_bitcoind_datadir>
BITCOIND_LAUNCHD_UNIT=<launchd_unit_for_bitcoind>
STRATUM_LAUNCHD_UNIT=<launchd_unit_for_stratum>
